@font-face {
  font-family: 'happy-times-italic';
  src: url(happy-times-italic.woff);
}



html,
body {
  height: 100%; /* Ensures the body covers the full height of the viewport */
  margin: 0; /* Removes any default margin */
  box-sizing: border-box; /* Ensures the border is part of the body's dimensions */
}
body {
  font-family: 'Old Standard TT','Times New Roman', Times, serif;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -2px;

  background-color: #fffce8;

  color: #333333;
  height: 100vh;
  transition: border-color 0.2s;

  margin: 0; /* Removes default browser margin */

  border: 6px solid #d8a9fc; /* Creates the border */
  border-radius: 20px; /* Rounds the corners */
  box-sizing: border-box; /* Includes border in the body's dimensions */
}

h1 {
  font-family: 'happy-times-italic';
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0px;
  font-size: 4.8vmin;
}

.circle {
  margin: 15px auto;
   width: 250px; 
  height: 60px;
  background: #d8a9fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

section div.quote {
  font-size: 6vmin;
  width: 54vw;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

.author {
  font-weight: 700;
  font-style: normal;
  margin: 15px 0 0 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  width: 100%;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

 
}

 div.buttons {
  width: fit-content;
  height: fit-content; 
  justify-content: center;
  align-items: center;
  padding: 3px;

  border: 3px solid #d8a9fc; 
  border-radius: 20px; 
  box-sizing: border-box; 
}   


footer svg {
  margin: 0 30px 0 30px;
  color: #d8a9fc;
  cursor: pointer;
  user-select: none; /* Prevents selection */
  pointer-events: all; /* Ensures pointer events are handled */
}

footer svg:focus {
  outline: none; /* Removes focus outline when clicked */
}

@media screen and (max-width: 400px) {
  .circle {
    width: 150px; 
    height: 50px; 
    font-size: 20px;
  }
}

 @media screen and (max-width: 650px){

    footer svg {
      margin: 0 5px 0 5px;
    }
 } 

@media screen and (max-height: 650px) {
  footer {
    padding: 10px; /* Reduce padding on smaller screens */
    margin-top: 20px;
  }

  footer svg {
    margin: 0px 10px 0 10px; 

  } 
}

@media screen and (max-width: 360px) {
    footer svg {
    margin: 0 5px; /* Decrease spacing between icons */
    width: 20px; /* Scale down icon size */
    height: 20px; /* Scale down icon size */
  }
}